/* ----------------------------- Fonts -------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ----------------------------- Global -------------------------------- */


h1, h2
{
    font-family: 'Bangers', cursive;
    color: #1163baf2;
    margin-bottom: 0;
}

p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #131313;
}
li{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 0.8em;
    margin-left: 0;
}
ul
{
    margin-left: 0px;
    padding-inline-start: 20px;
}


#main_wrapper{
    display: flex;
    flex-direction: row;
    width: 1080px;
    height: 1450px;
    margin: auto;
    box-shadow: 2px 2px 5px black;
    padding: 20px 10px;

}


/* ---------------------------- Left Section ------------------------------- */
#left{
    display: flex;
    flex-direction: column;
    flex: 1;
    
    margin: 0 0px;
}
#gris{
    background-color: #e0e0e0fa;
    box-shadow: 2px 2px 5px black;
    padding: 270px 15px;
    margin: 0 20px;
    
}
#me
{
    background-color: #1163baf9;
    text-align: center;
    
    padding: 0px 20px;
    padding-top: 30px;
    box-shadow: 2px 2px 5px black;
    z-index: 1;
    width: 500px;
    position: absolute;
    top: 40px;
    left: 610px
    
    
}
#me h1{
    color: white;
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: -20px;
}
#me p{
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    margin-bottom: Opx
}
ul{
    list-style-type: none;
}

/* ---------------------------- Right Section ------------------------------- */
#right{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
}


#right img{
    width: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 350px ;
    text-align: center;
}